.dropdown-menu {
    display: none;
}

.dropdown-toggle:focus + .dropdown-menu {
    display: block;
}

.dropdown-menu a {
    text-align: center;
    color: black;
    padding: 15px;
}

.dropdown {
    margin-top: 10px;
    margin-bottom: 10px;
}

.custom-card {
    border: none;
}

.custom-card img {
    max-height: 80px; /* Adjust this value to control image height */
    object-fit: contain; /* Maintain image aspect ratio */
}

.card-body p {
    font-size: 14px; /* Adjust font size as needed */
}